* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #24272e;
}

header {
  background: white;
  padding: 20px;
}

header > h1 {
  color: #25272e;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.score-board {
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  margin: 2% auto;
  width: 20%;
  text-align: center;
  font-size: 2.2rem;
  padding: 1% 1%;
}
